:root {
    --hb-purple: #6311AB;
    --hb-yellow: #FFE01C;
}

/*TEXT*/
h1{
    font-family: "ITC Avant Garde Gothic Std Demi";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
}

h5{
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 20px;
    line-height: 120%;
}
a, a:hover{
    color: black;
}
p, label{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 133% !important;
    margin: 0;
}

input:focus{
    outline-color: var(--hb-yellow);
    outline-width: 1px;
}

/*BUTTON*/
button{
    font-family: "Lato" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 133% !important;
    text-transform: none !important;
}

button:focus{
    outline:none;
}

.settings-button{
    font-family: "ITC Avant Garde Gothic Std Book" !important;
    color: "black";
    text-align: "center"
}
.student-button{
    background-color: var(--hb-purple) !important;
    color: white !important;
}
.prof-button{
    background-color: var(--hb-yellow) !important;
    color: black;
}

.prof-button:disabled, .student-button:disabled{
    background-color:#c2c2c2 !important;
    color:black;
}

.neutral-button{
    background: #E3E3E3;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 3px;
    color: #484848;
}

.lecture-button{
    background-color: #f4f4f4 !important;
    min-height: 3rem;
    width:100%;
}

/*DIV*/
.content{
    padding: 2rem 1rem;
}

header{
    margin-bottom: 1.5rem;
}

.circle{
    border-radius: 50%;
    background-color: #C4C4C4;
    height: 26px;
    width: 26px;
    margin: auto 15px;
}

.green{
    background-color: #82DAA4;
}

/*GENERAL COMPONENTS*/
.search-bar{
	display: flex;
	background-color: #F1F2F6;
	border-radius: 8px;
	border: 0px;
    text-align: center;
    padding: 3px 0;
}

.search-bar .icon{
    margin: auto
}

.search-bar input, .search-bar input:focus{
	background-color: transparent;
	border-style: none;
    outline: none;
	width: 100%;
}
.MuiDialogContent-root, .MuiDialogContent-root:first-child{
    padding: 0 !important;
}
/*IMAGE*/
img{
    max-height: 100%;
}

/*POPUP*/
.MuiDialog-paperWidthSm{
    max-width: 750px !important;
}

/*FORM*/
.student-course-form .content{
    padding: 4.5rem 1.5rem;
}

@media only screen and (max-width: 768px){
    .student-course-form .content{
        padding: 2rem 1rem;
    }
}

.student-icon{
    color: var(--hb-yellow);
}

/*Hover animation*/
@-webkit-keyframes hvr-pulse {
	25% {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	75% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  }
  @keyframes hvr-pulse {
	25% {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	75% {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
  }
  .hvr-pulse {
	-webkit-animation-name: hvr-pulse;
	animation-name: hvr-pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.react-datepicker-wrapper input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}