.card{
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px !important;
    margin:15px 0;
}

.student-card .footer{
    background: var(--hb-purple);
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

.prof-card{
    background-color: transparent;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding:1.5rem 1rem;
}

.prof-card h3{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
}

.prof-card .more-info{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.prof-card .icon{
    color: #c2c2c2;
    position: absolute;
    bottom: 55%;
}