.card{
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px !important;
    margin:15px 0;
}

.student-card .footer{
    background: var(--hb-purple);
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

.prof-card{
    background-color: transparent;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    padding:1.5rem 1rem;
}

.prof-card h3{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
}

.prof-card .more-info{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.prof-card .icon{
    color: #c2c2c2;
    position: absolute;
    bottom: 55%;
}

.quiz-card .card-content div{
    display:flex;
}

.quiz-card .card-content p{
    margin: auto;
}

.quiz-card .card-content #question{
    margin: auto 0;
}

.quiz-card .collapse-content{
    padding: 8px 16px;
}

.quiz-card .collapse-content .answer{
    background-color: #FEF9DE;
    border-radius: 8px;
    padding: 10px 15px;
    margin: 5px 0px;
}

.quiz-card .collapse-content .answer p{
    font-weight: 700;
}

.quiz-card .collapse-content .answer-correct{
    background-color: #82DAA4;
}
.quiz-card .action{
    border-top: 1px solid #F2F2F2;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.quiz-card .action div{
    display:flex;
    flex-direction: row;
}
.quiz-card .action .icon-button{
    padding: 5px;
}

.quiz-card .action .expand-false{
    transform: rotate(0deg);
    transition: 1s transform;
}
.quiz-card .action .expand-true{
    transform: rotate(180deg);
    transition: 1s transform;
}

.quiz-card .action .clear-button{
    background: transparent;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
}

